<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.lbkland.mapper.RideMapper">
    <resultMap id="rideResultMap" type="com.ohgiraffers.lbkland.dto.RideDTO">
        <id property="rideId" column="ride_code"/>
        <result property="rideName" column="ride_name"/>
        <result property="staffId" column="staff_id"/>
    </resultMap>

    <select id="selectAllRide" resultMap="rideResultMap">
        select
        ride_code,
        ride_name,
        staff_id
        from ride
        order by ride_code
    </select>

    <select id="selectRideByCode" resultMap="rideResultMap">
        select
        ride_code,
        ride_name,
        staff_id
        from ride
        where ride_code = #{rideId}
    </select>

    <insert id="registRide" parameterType="com.ohgiraffers.lbkland.dto.RideDTO">
        insert into ride
        (ride_code,
        ride_name,
        staff_id)
        values
        (#{rideId},
        #{rideName},
        #{staffId})
    </insert>

    <update id="modifyRide" parameterType="com.ohgiraffers.lbkland.dto.RideDTO">
        update ride
        set
        ride_code =#{rideId},
        ride_name = #{rideName},
        staff_id = #{staffId}
        where
        ride_code =#{rideId}
    </update>

    <delete id="deleteRide" parameterType="com.ohgiraffers.lbkland.dto.RideDTO">
        delete
        from ride
        where ride_code =#{rideId}
    </delete>

    </mapper>