<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.lbkland.mapper.StaffMapper">

    <resultMap id="staffResultMap" type="com.ohgiraffers.lbkland.dto.StaffDTO">
        <id property="staffId" column="staff_id"/>
        <result property="staffPhone" column="staff_phone"/>
        <result property="staffRank" column="staff_rank"/>
        <result property="rideCode" column="ride_code"/>
        <result property="logCount" column="log_count"/>
        <result property="staffName" column="staff_name"/>
        <result property="staffPassword" column="staff_password"/>
    </resultMap>

    <select id="selectAllStaff" resultMap="staffResultMap">
        select
        staff_id,
        staff_phone,
        staff_rank,
        ride_code,
        log_count,
        staff_name,
        staff_password
        from staff
    </select>

    <select id="selectStaffById" parameterType="String" resultMap="staffResultMap">
        select
        staff_id,
        staff_phone,
        staff_rank,
        ride_code,
        log_count,
        staff_name,
        staff_password
        from staff
        where staff_id = #{ staffId }
    </select>

    <select id="selectRideByCode" parameterType="String" resultMap="staffResultMap">
        select
        staff_id,
        staff_phone,
        staff_rank,
        ride_code,
        log_count,
        staff_name,
        staff_password
        from staff
        where ride_code = #{ rideCode }
    </select>


    <insert id="registStaff" parameterType="com.ohgiraffers.lbkland.dto.StaffDTO">
        insert into staff (
        staff_id,
        staff_phone,
        staff_rank,
        ride_code,
        staff_name,
        staff_password
        ) values (
        #{ staffId },
        #{ staffPhone },
        #{ staffRank },
        #{ rideCode },
        #{ staffName },
        #{ staffPassword }
        )
    </insert>


<!--    <update id="modifyStaff" parameterType="com.ohgiraffers.lbkland.dto.StaffDTO">-->
<!--        update staff-->
<!--        set-->
<!--        staff_phone = #{ staffPhone },-->
<!--        staff_rank = #{ staffRank },-->
<!--        ride_code = #{ rideCode },-->
<!--        log_count = #{ logCount },-->
<!--        staff_name = #{ staffName },-->
<!--        staff_password = #{ staffPassword }-->
<!--        where-->
<!--        staff_id = #{ staffId }-->
<!--    </update>-->


    <update id="modifyStaffPassword" parameterType="com.ohgiraffers.lbkland.dto.StaffDTO">
        update staff
        set
        staff_password = #{ staffPassword }
        where
        staff_id = #{ staffId }
    </update>

    <update id="modifyStaffName" parameterType="com.ohgiraffers.lbkland.dto.StaffDTO">
        update staff
        set
        staff_name = #{ staffName }
        where
        staff_id = #{ staffId }
    </update>

    <update id="modifyStaffPhone" parameterType="com.ohgiraffers.lbkland.dto.StaffDTO">
        update staff
        set
        staff_phone = #{ staffPhone }
        where
        staff_id = #{ staffId }
    </update>


    <update id="modifyStaffRank" parameterType="com.ohgiraffers.lbkland.dto.StaffDTO">
        update staff
        set
        staff_rank = #{ staffRank }
        where
        staff_id = #{ staffId }
    </update>


    <update id="modifyStaffRideCode" parameterType="com.ohgiraffers.lbkland.dto.StaffDTO">
        update staff
        set
        ride_code = #{ rideCode }
        where
        staff_id = #{ staffId }
    </update>


    <update id="modifyStaffLogCount" parameterType="com.ohgiraffers.lbkland.dto.StaffDTO">
        update staff
        set
        log_count = #{ logCount }
        where
        staff_id = #{ staffId }
    </update>


    <delete id="deleteStaff" parameterType="String">
        delete
        from staff
        where
        staff_id = #{ staffId }
    </delete>

</mapper>